* {
    margin: 0;
    padding: 0;
    font-size: 0px;
}

/*包裹4个DIV的容器*/
.container {
    margin: 0 auto;
    height: 300px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
}

.img {
    top: 50%;
    left: 50%;
    margin-left: -32px;
    margin-top: -32px;
    text-align: center;
    display: inline-block;
    position: absolute;
}

.left_block {
    box-shadow: 0px 0px 10px 0px #00A1FF;
    width: 100px;
    height: 100px;
    background-color: #00A1FF;
    display: inline-block;
    position: absolute;
    margin-top: 100px;
}

.right_block {
    box-shadow: 0px 0px 10px 0px #A0396E;
    width: 100px;
    height: 100px;
    background-color: #E469A8;
    display: inline-block;
    position: absolute;
    margin-left: 200px;
    margin-top: 100px;
}

.top_block {
    box-shadow: 0px 0px 10px 0px #F3A125;
    width: 100px;
    height: 100px;
    background-color: orange;
    display: inline-block;
    float: left;
    position: absolute;
    margin-left: 100px;
}

.bottom_block {
    box-shadow: 0px 0px 10px 0px #5A4077;
    width: 100px;
    height: 100px;
    background-color: #8966AF;
    display: inline-block;
    position: absolute;
    margin-top: 200px;
    margin-left: 100px;
}
